{
  "presets": [
    [
      "env",
      {
        "modules": "commonjs",
        "targets": {
          "node": "6.10"
        }
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [
        [
          "env"
        ]
      ]
    }
  }
}
